* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo a tipografia e o fundo */
body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    height: 100vh; /* Ocupa a altura total da tela */
    justify-content: center; /* Centraliza as divs na tela */
    align-items: center; /* Alinha as divs verticalmente no centro */
    background-color: #F9F9ED;
}

.central {
    position: absolute;
    width: 700px;
    height: 600px;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
}

.central img {
    width: 50px;
    height: 50px;
    margin-top: 50px;
}

.central h1{
    margin-top: 30px;
    font-weight: 800;
}

.form-group {
    font-size: 17px;
    color: #1E1E1E;
    transition: color 0.3s ease;
    text-align: left;
    padding-top: 50px;
    padding-left: 90px;
    position: relative; /* Adicionado para ser o contexto do ícone */
}

label {
    font-size: 18px;
    font-weight: 500;
}

input {
    width: 87%;
    margin: 7px 0px 10px 0px;
    padding: 0px 0px 7px 8px;
    border: none;
    border-bottom: 2px solid #CFCFCF;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Nunito';
    color: #1E1E1E;
}

/* Estilo para o campo e a label quando o campo está selecionado */
.form-group:focus-within label {
    color: #C3A47A; /* Altera a cor da label quando o campo é focado */
}

/* Estilo para o campo quando está selecionado */
input:focus {
    border-bottom: 2px solid #C3A47A;
    color: #bd9967;
}
 
.btn-enviar-email {
    width: 227px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #7E7D7D;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #444444;
    text-align: center;
    display: block;
    margin: 0 auto;
}

/* Efeito ao passar o mouse sobre o botão */
.btn-enviar-email:hover {
    background-color: #C3A47A;
    color: #fff;
    border: none;
}

a {
    text-decoration: none;
    color: #1E1E1E;
    font-weight: 500;
}

/* Media Query para telas menores */
@media (max-width: 768px) {
    .central {
        width: 80%; /* ou outra porcentagem que preferir */
        height: 80%; /* altura automática para manter o conteúdo */
    }

    .central img {
        width: 40px;
        height: 40px;
    }

    .central h1 {
        font-size: 24px;
    }

    .central p {
        font-size: 14px;
        margin: 0 30px 0 30px;
    }

    .form-group {
        max-width: 100%;
        padding-left: 65px;
    }

    label {
            font-size: 16px;
    }

    input {
        font-size: 14px;
    }
    
    .btn-enviar-email {
        width: 127px;
        height: 35px;
        font-size: 13px;
    }

    a {
        font-size: 14px;
    }
    
}